# Dependencies
node_modules
.pnpm-store

# Next.js
.next/
out/

# NestJS
dist/
thrash/

# Turborepo
.turbo/

# Environment Variables (Rất quan trọng)
.env
.env.*
!.env.example

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Docker
.docker/